<p>members works!</p>

<!--<div class="row">
  <div class="col-2">
    <p *ngFor="let member of members">{{member.userName}}</p>
    
  </div>
</div>-->


<input type="text" name="memberSearchBox" class="member-search"
       (keyup)="sendQuery($event)" />
<section class="member-results">

  <p *ngIf="members.length < 1">No results</p>
  <ng-template ngFor let-member [ngForOf]="members" let-i="index">
    <hr *ngIf="i > 0" />
    <p>{{member.userName}}</p>
    <button class="btn">Add to friends</button>
    <!--TODO add method and call in button (click)="addFriend(member.userName)"-->
  </ng-template>



</section>



